* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  background-color: rgb(179, 97, 255);
  justify-content: center;
  align-items: center;
}

.container {
  background-color: rgb(219, 180, 255);
  width: 280px;
  display: flex;
  flex-direction: column;
  border-radius: 16px 16px 0 0;
  padding: 8px;
}

.text {
  height: 200px;
}

.ctn-btn {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.select {
  margin-bottom: 8px;
}

button {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background-color: rgb(184, 137, 224);
  border: none;
  border-radius: 8px;
  transition: all 0.5s;
}

button:hover {
  transform: rotate(1deg) scale(1.1);
  background-color: rgb(179, 97, 255);
}
